body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}
.statistics-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;  
  padding: 10px;
}
.single-stat {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
}
.stat {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.countryselector{
  text-align: center;
  padding-top: 50px;
}
.countryselector select{
  padding: 5px;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav a{
  padding: 10px;
}
.landingpagediv{
  display: flex;
  height: 550px;
}
.lpdiv1, .lpdiv2{
  width: 50%;
  padding: 40px;
}
.lpdiv2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lpdiv1 h1{
   font-size: 40px;
   padding-top: 50px;
   padding-left: 50px;
}
.lpdiv1 p{
  font-size: 18px;
  padding: 0 50px;
}
@media (max-width: 900px) {
  .statistics-container {
    grid-template-columns: repeat(2, 1fr);  /* 2 columns for screens smaller than 900px */
  }
}

@media (max-width: 600px) {
  .statistics-container {
    grid-template-columns: 1fr;  /* 1 column for screens smaller than 600px */
  }
}